body {
    background-color: #051d64;
    background-image: url('style-assets/bg-pattern.PNG');
    background-size: 150% 150%;
    background-attachment: fixed;
    animation: moveBackground 20s ease-in-out infinite alternate;
    margin: 0;
}

@keyframes moveBackground {
    0% { background-position: 0% 0%;}
    100% { background-position: 50% 50%;}
}

.outer-border {
    border: 20px solid #ffa601;
    border-radius: 45px;
    min-height: 95vh;
}

.inner-border {
    border: 17px solid #7778ed;
    border-radius: 25px;
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    box-shadow: inset 0 0 20px  rgba(0, 0, 0, 0.501);
}

/* ----------------------- home page ------------------------------ */


.home-button {
    background-color: #ffa601;
    color: white;
    cursor: pointer;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    border-radius: 60px;
    height: 150px;
    width: 400px;
    display: flex;
    font-size: 60px;
    font-family: 'Dingos Stamp', sans-serif;
    box-shadow: 5px 18px rgba(0, 0, 0, 0.382); 
    transition: transform 0.2s;
}

.home-button:hover {
transform: scale(1.05); 
}
.home-button:active {
transform: scale(0.98);
}
#register-btn {
    border: 5px solid #7778ed;
}
#login-btn {
    border: 5px solid #ff5d83;
}

@font-face {
    font-family: 'Dingos Stamp';
    src: url('style-assets/DCC\ -\ Bushido.ttf') format('truetype');
}

.home-icon {
    width: 105px;
    height: 105px;
    object-fit: contain;
    background: transparent;
    border: none;
}

/* -------------------------- register and login pages ---------------- */

.login-box {
    background-color: #ffa601;
    width: 500px;
    border: 5px solid #b57600;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 15px 18px rgba(0, 0, 0, 0.382);
    gap: 5px;
}
.input-field {
    background-color: #b57600;
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    border: 5px solid #574012;
    border-radius: 60px;
    height: 100px;
    width: 400px;
    display: flex;
    font-size: 40px;
    font-family: 'Dingos Stamp', sans-serif;
    box-shadow: 10px 10px rgba(237, 83, 0, 0.382); 
}

h1 {
    color: white;
    margin: 0 0 10px 0;
    margin-bottom: 0px;
    font-size: 70px;
    padding-top: 15px;
    font-family: 'Dingos Stamp', sans-serif;
}

.submit-button {
    background-color: #fa8801;
    color: white;
    cursor: pointer;
    border: 5px solid #603d12;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-block: 15px;
    border-radius: 20px;
    display: flex;
    font-size: 40px;
    font-family: 'Dingos Stamp', sans-serif;
    transition: transform 0.2s;
}

/* -------------------------- host-room page ---------------- */

body {
    background-color: #051d64;
    background-image: url('style-assets/bg-pattern.PNG');
    background-size: 150% 150%;
    background-attachment: fixed;
    animation: moveBackground 20s ease-in-out infinite alternate;
    margin: 0;
}

@keyframes moveBackground {
    0% { background-position: 0% 0%;}
    100% { background-position: 50% 50%;}
}

.outer-border {
    border: 20px solid #ffa601;
    border-radius: 45px;
    min-height: 95vh;
}

.inner-border {
    border: 17px solid #7778ed;
    border-radius: 25px;
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    box-shadow: inset 0 0 20px  rgba(0, 0, 0, 0.501);
}

/* ----------------------- home page ------------------------------ */

.home-button {
    background-color: #ffa601;
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    height: 150px;
    width: 400px;
    display: flex;
    font-size: 70px;
    font-family: 'Dingos Stamp', sans-serif;
    box-shadow: 5px 18px rgba(0, 0, 0, 0.382); 
    transition: transform 0.2s;
}

.home-button:hover {
transform: scale(1.05); 
}
.home-button:active {
transform: scale(0.98);
}
#register-btn {
    border: 5px solid #7778ed;
}
#login-btn {
    border: 5px solid #ff5d83;
}

@font-face {
    font-family: 'Dingos Stamp';
    src: url('style-assets/DCC\ -\ Bushido.ttf') format('truetype');
}

/* -------------------------- register and login pages ---------------- */

.login-box {
    background-color: #ffa601;
    width: 500px;
    border: 5px solid #b57600;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 15px 18px rgba(0, 0, 0, 0.382);
    gap: 5px;
}
.input-field {
    background-color: #b57600;
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    border: 5px solid #574012;
    border-radius: 60px;
    height: 100px;
    width: 400px;
    display: flex;
    font-size: 40px;
    font-family: 'Dingos Stamp', sans-serif;
    box-shadow: 10px 10px rgba(237, 83, 0, 0.382); 
}


h1 {
    color: white;
    margin: 0 0 10px 0;
    margin-bottom: 0px;
    font-size: 70px;
    padding-top: 15px;
    font-family: 'Dingos Stamp', sans-serif;
}

.submit-button {
    background-color: #fa8801;
    color: white;
    cursor: pointer;
    border: 5px solid #603d12;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-block: 15px;
    border-radius: 20px;
    display: flex;
    font-size: 40px;
    font-family: 'Dingos Stamp', sans-serif;
}

/* -------------------------- host-room & join-room pages ---------------- */

.host-container {
    background-color: #ffa601;
    width: 525px;
    border: 5px solid #b57600;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 15px 18px rgba(0, 0, 0, 0.382);
    padding: 30px 25px;
    gap: 15px;
}

.host-container p {
    color: white;
    margin: 0;
    font-size: 60px;
    font-family: 'Dingos Stamp', sans-serif;
}

.submit-button:hover {
transform: scale(1.05); 
}
.submit-button:active {
transform: scale(0.98);
}

.btn-container {
display: flex;
justify-content: space-between;
height: 110px;
gap: 40px;
padding-top: 20px;
}

#start-btn {
    background-color: #ff5d83;
    border: 5px solid whitesmoke;
    box-shadow: 10px 10px rgba(237, 83, 0, 0.382);
}
#back-btn {
    background-color: #7778ed;
    border: 5px solid whitesmoke;
    box-shadow: 10px 10px rgba(237, 83, 0, 0.382);
}

#submit {
    background-color: #ff5d83;
    border: 5px solid whitesmoke;
    box-shadow: 10px 10px rgba(237, 83, 0, 0.382);
}