body {
    background-color: #051d64;
    background-image: url('style-assets/bg-pattern.PNG');
    background-size: 150% 150%;
    background-attachment: fixed;
    animation: moveBackground 20s ease-in-out infinite alternate;
    margin: 0;
}

@keyframes moveBackground {
    0% { background-position: 0% 0%;}
    100% { background-position: 50% 50%;}
}

.outer-border {
    border: 20px solid #ffa601;
    border-radius: 45px;
    min-height: 95vh;
}

.inner-border {
    border: 17px solid #7778ed;
    border-radius: 25px;
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    box-shadow: inset 0 0 20px  rgba(0, 0, 0, 0.501);
}

.join-button {
    background-color: #ffa601;
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    height: 100px;
    width: 400px;
    display: flex;
    font-size: 50px;
    font-family: 'Dingos Stamp', sans-serif;
    box-shadow: 5px 18px rgba(0, 0, 0, 0.382); 
    transition: transform 0.2s;
}

.join-button:hover {
transform: scale(1.05); 
}

.join-button:active {
transform: scale(0.98);
}

#join-btn {
    border: 5px solid #7778ed;
}

@font-face {
    font-family: 'Dingos Stamp';
    src: url('style-assets/DCC\ -\ Bushido.ttf') format('truetype');
}

.input-code {
    background-color: #b57600;
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    border: 5px solid #574012;
    border-radius: 60px;
    height: 100px;
    width: 370px;
    display: flex;
    font-size: 40px;
    font-family: 'Dingos Stamp', sans-serif;
}